@font-face {
    font-family: Lingo;
    src: url("Lingo.ttf");
}

body {
    background-color: #444;
    color: #fff;
    font-family: Lingo, Verdana;
}

button {
    font-family: Lingo, Verdana;
    background-color: #0088ff;
    border: 3px solid #0044cc;
    border-radius: 10px;
}

a {
    color: #0f0;
}

a:hover, a:active {
    color: #0ff;
}

.block {
    border: 6px solid;
    border-color: var(--color);
    border-image: var(--color) 30;
    text-align: center;
    line-height: 50px;
    background-color: #333;
    position: relative;
}

.block.no-panel {
    background-color: var(--color);
    background-image: var(--color);
}

.block.checkered {
    border-color: transparent;
    border-image: initial;
}

.checker, .vhalf, .hhalf, .cvhalf, .chhalf {
    width: 0;
    height: 0;
    display: block;
}

.checker::after {
    position: absolute;
    width: 57px;
    height: 57px;
    content: "";
}

.vhalf::after, .cvhalf::after {
    position: absolute;
    height: 114px;
    content: "";
    top: -6px;
}
.vhalf::after, .cvhalf1::after {
    width: 57px;
}
.cvhalf0::after, .cvhalf2::after {
    width: 28.5px;
}

.hhalf::after, .chhalf::after {
    position: absolute;
    width: 114px;
    content: "";
    left: -6px;
}
.hhalf::after, .chhalf1::after {
    height: 57px;
}
.chhalf0::after, .chhalf2::after {
    height: 28.5px;
}

.checker0::after, .checker2::after,
.vhalf0::after, .cvhalf0::after, .cvhalf2::after,
.hhalf0::after, .chhalf0::after, .chhalf2::after {
    background-color: var(--color1);
    background-image: var(--color1);
}

.checker1::after, .checker3::after,
.vhalf1::after, .cvhalf1::after,
.hhalf1::after, .chhalf1::after {
    background-color: var(--color2);
    background-image: var(--color2);
}

.checker0::after, .checker3::after,
.vhalf0::after, .cvhalf0::after {left: -6px;}
.checker1::after, .checker2::after,
.vhalf1::after, .cvhalf2::after {right: -6px;}
.checker0::after, .checker1::after,
.hhalf0::after, .chhalf0::after {top: -6px;}
.checker2::after, .checker3::after,
.hhalf1::after, .chhalf2::after {bottom: -6px;}
.cvhalf1::after {left: 22.5px;}
.chhalf1::after {top: 22.5px;}

.block:not(.no-panel) .checker0::after {
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 6px,
        6px 6px,
        6px 100%,
        0% 100%
    );
}
.block:not(.no-panel) .checker1::after {
    clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 6px,
        calc(100% - 6px) 6px,
        calc(100% - 6px) 100%,
        100% 100%
    );
}
.block:not(.no-panel) .checker2::after {
    clip-path: polygon(
        100% 100%,
        0% 100%,
        0% calc(100% - 6px),
        calc(100% - 6px) calc(100% - 6px),
        calc(100% - 6px) 0%,
        100% 0%
    );
}
.block:not(.no-panel) .checker3::after {
    clip-path: polygon(
        0% 100%,
        100% 100%,
        100% calc(100% - 6px),
        6px calc(100% - 6px),
        6px 0%,
        0% 0%
    );
}

.block:not(.no-panel) .vhalf0::after,
.block:not(.no-panel) .cvhalf0::after {
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 6px,
        6px 6px,
        6px calc(100% - 6px),
        100% calc(100% - 6px),
        100% 100%,
        0% 100%
    );
}
.block:not(.no-panel) .vhalf1::after,
.block:not(.no-panel) .cvhalf2::after {
    clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 6px,
        calc(100% - 6px) 6px,
        calc(100% - 6px) calc(100% - 6px),
        0% calc(100% - 6px),
        0% 100%,
        100% 100%
    );
}

.block:not(.no-panel) .hhalf0::after,
.block:not(.no-panel) .chhalf0::after {
    clip-path: polygon(
        0% 0%,
        0% 100%,
        6px 100%,
        6px 6px,
        calc(100% - 6px) 6px,
        calc(100% - 6px) 100%,
        100% 100%,
        100% 0%
    );
}
.block:not(.no-panel) .hhalf1::after,
.block:not(.no-panel) .chhalf2::after {
    clip-path: polygon(
        0% 100%,
        0% 0%,
        6px 0%,
        6px calc(100% - 6px),
        calc(100% - 6px) calc(100% - 6px),
        calc(100% - 6px) 0%,
        100% 0%,
        100% 100%
    );
}

.block:not(.no-panel) .cvhalf1::after {
    clip-path: polygon(
        -100% 0%,
        200% 0%,
        200% 100%,
        -100% 100%,
        -100% calc(100% - 6px),
        calc(200% - 6px) calc(100% - 6px),
        calc(200% - 6px) 6px,
        -100% 6px
    );
}

.block:not(.no-panel) .chhalf1::after {
    clip-path: polygon(
        0% -100%,
        0% 200%,
        100% 200%,
        100% -100%,
        calc(100% - 6px) -100%,
        calc(100% - 6px) calc(200% - 6px),
        6px calc(200% - 6px),
        6px -100%
    );
}

.block input {
    text-align: center;
    width: 90%;
    margin: auto;
    display: block;
    text-transform: uppercase;
    font-family: Lingo, Verdana;
}

.no-block {
    position: relative;
    width: 100px;
    height: 100px;
    border: 6px solid transparent;
}

.no-block:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7";
    font-size: 50px; 
    color: #888;
    line-height: 100px;
    text-align: center;
}

#puzzle > tr > td {
    width: 100px;
    height: 100px;
    min-width: 100px;
}

#puzzle {
    border-spacing: 0;
    border: 3px solid transparent;
    overflow-x: scroll;
    position: relative;
}

#puzzle.win {
    border: 3px solid #fc0;
}

.success {
    color: #00cc00;
}

.failure {
    color: #cc0000;
}

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    color: #fc0;
}

@keyframes fly-off {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px));
        opacity: 0;
    }
}

.particle::before {
    content: '+';
    position: absolute;
    animation: fly-off 1s linear forwards;
}

.shape-pipe0,  .shape-pipe1,  .shape-pipe2,  .shape-pipe3,
.shape-pipe4,  .shape-pipe5,  .shape-pipe6,  .shape-pipe7,
.shape-pipe8,  .shape-pipe9,  .shape-pipe10, .shape-pipe11,
.shape-pipe12, .shape-pipe13, .shape-pipe14, .shape-pipe15 {
    --top: ;
    --right: ;
    --bottom: ;
    --left: ;
    clip-path: polygon(
        25% 25%,
        var(--top)
        75% 25%,
        var(--right)
        75% 75%,
        var(--bottom)
        25% 75%,
        var(--left)
        25% 25%
    );
}

.shape-pipe1, .shape-pipe3,  .shape-pipe5,  .shape-pipe7,
.shape-pipe9, .shape-pipe11, .shape-pipe13, .shape-pipe15 {
    --top: 25% 0%, 75% 0%,
}

.shape-pipe2,  .shape-pipe3,  .shape-pipe6,  .shape-pipe7,
.shape-pipe10, .shape-pipe11, .shape-pipe14, .shape-pipe15 {
    --bottom: 75% 100%, 25% 100%,
}

.shape-pipe4,  .shape-pipe5,  .shape-pipe6,  .shape-pipe7,
.shape-pipe12, .shape-pipe13, .shape-pipe14, .shape-pipe15 {
    --left: 0% 75%, 0% 25%,
}

.shape-pipe8,  .shape-pipe9,  .shape-pipe10, .shape-pipe11,
.shape-pipe12, .shape-pipe13, .shape-pipe14, .shape-pipe15 {
    --right: 100% 25%, 100% 75%,
}